.Home {
  height: 600px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 900px) {
  .Home {
    height: 350px;
  }
}
